In [40]:
import numpy as np 
import pandas as pd

In [41]:
deliveries = pd.read_csv('deliveries.csv')
matches = pd.read_csv('matches.csv')
matches.rename(index={0: "match_id"},inplace=True)

In [42]:
df=deliveries.join(matches, on='match_id')

In [43]:
df.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0.0,Rising Pune Supergiant,0.0,7.0,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [58]:
best_batsman = (df.groupby([df.batting_team,df.batsman]).
                total_runs.sum().sort_values(ascending=False).
                head(30).reset_index())
best_bowler = (df.groupby([df.bowling_team,df.bowler]).player_dismissed.count().
               sort_values(ascending=False).head(30).reset_index())

In [59]:
best_batsman.columns=['batting_team', 'Player', 'player_runscored']
best_bowler.columns=['bowling_team', 'Player', 'player_dismissed']
merged=best_batsman.merge(best_bowler,on='Player')
merged = merged.loc[:,['batting_team','Player','player_runscored','player_dismissed']]

In [60]:
merged

            batting_team      Player  player_runscored  player_dismissed
0         Mumbai Indians  KA Pollard              2940                67
1       Rajasthan Royals   SR Watson              2489                72
2  Kolkata Knight Riders  AD Russell              1466                59